body {
    font-family: Arial, sans-serif;
    text-align: center;
    color: white;
    background-color: #1a1a1a;
}

.background img {
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.logo img {
    width: 150px;
    margin-top: 20px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.social-icons img {
    width: 30px;
}

#welcome-text {
    margin: 20px 0;
    font-size: 24px;
}

.nft-gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}

.nft-gallery img {
    width: 100px;
}

#description {
    margin: 20px auto;
    font-size: 16px;
    max-width: 600px;
}

.centered-gif img {
    width: 150px;
    margin: 20px 0;
}

#supplyTracker {
    font-size: 18px;
    margin-top: 10px;
}

button {
    font-size: 16px;
    padding: 10px 20px;
    margin: 10px;
    background-color: #001EC3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
