body {
    margin: 0;
    padding: 0;
    background: url('https://ipfs.io/ipfs/QmW8yPsDrmYNen4JbSRCEj9L8m3wAeKygdw7onPUeX5M3b') no-repeat center center fixed; 
    background-size: cover;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    color: #ffffff;
}

.logo {
    margin: 20px auto;
    max-width: 200px;
}

.social-icons img {
    width: 40px;
    margin: 0 10px;
}

.welcome-text {
    font-size: 36px;
    margin: 20px 0;
}

.nft-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 20px;
}

.nft-gallery img {
    width: 100%;
    border-radius: 8px;
}

.description {
    margin: 20px;
    font-size: 18px;
}

.center-gif {
    width: 300px;
    margin: 20px auto;
}

.supply-tracker, #totalPayment {
    font-size: 20px;
    margin: 10px 0;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}

#connectButton {
    background-color: #28a745; /* Warna biru */
    color: #fff;
}

#connectButton:hover {
    background-color: #28a745; /* Warna gelap saat hover */
}

#disconnectButton {
    background-color: #dc3545; /* Warna merah untuk tombol Disconnect */
    color: #fff;
}

#disconnectButton:hover {
    background-color: #c82333; /* Warna gelap saat hover */
}

#mintButton {
    background-color: #001EC3; /* Warna hijau untuk tombol Mint */
    color: #fff;
}

#mintButton:hover {
    background-color: #001EC3; /* Warna gelap saat hover */
}
