/* Basic styling */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #111;
    color: #fff;
}

.background-gif {
    background: url('https://ipfs.io/ipfs/QmW8yPsDrmYNen4JbSRCEj9L8m3wAeKygdw7onPUeX5M3b') no-repeat center center fixed;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.logo {
    margin-top: 20px;
    width: 150px;
}

.social-icons img {
    width: 40px;
    margin: 0 10px;
}

.welcome-text {
    font-size: 2rem;
    margin: 20px 0;
}

.nft-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0;
}

.nft-gallery img {
    width: 100px;
    margin: 10px;
}

.description {
    max-width: 600px;
    margin: 20px auto;
    font-size: 1.2rem;
}

.center-gif {
    width: 200px;
    margin: 20px 0;
}

.supply-tracker {
    font-size: 1.5rem;
    margin-top: 10px;
}

button {
    padding: 10px 20px;
    font-size: 1rem;
    margin: 10px;
    cursor: pointer;
}
#connectButton {
    background-color: #28a745; /* Warna biru */
    color: #fff;
}

#connectButton:hover {
    background-color: #28a745; /* Warna gelap saat hover */
}

#disconnectButton {
    background-color: #dc3545; /* Warna merah untuk tombol Disconnect */
    color: #fff;
}

#disconnectButton:hover {
    background-color: #c82333; /* Warna gelap saat hover */
}

#mintButton {
    background-color: #001EC3; /* Warna hijau untuk tombol Mint */
    color: #fff;
}

#mintButton:hover {
    background-color: #001EC3; /* Warna gelap saat hover */
}

#walletInfo {
    margin-top: 10px;
}
